* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Roboto, Arial, sans-serif;
    font-size: 62.5%;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    padding: 20px;
    width: 100vw;
    font-size: 1.6rem;
}

.container {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50px;
}

button:hover {
    background-color: #0056b3;
}

.log-area {
    background: #36322c;
    color: #fff;
    font-family: monospace;
    min-height: 250px;
    height: 100%;
    overflow-y: auto;
    padding: 8px;
    border-radius: 6px;
    text-align: left;
}

.target-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.target-item {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    background: #f0f0f0;
    border-radius: 6px;
    padding: 6px 10px;
    justify-content: space-between;
}

.target-img {
    width: 80px;
    height: 30px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.target-delete {
    background: #dc3545;
    font-size: 1.2rem;
}

.target-delete:hover {
    background: #a71d2a;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.target-options {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
}

.target-options label {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}
